/*Typography Styles*/
h1, h2, h3, h4, h5, h6, dt, a, button, .button-copy, .list-group-heading, .link-copy{
    font-family: 'Poppins', sans-serif;
    margin: 0%;

    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 1.46%;
    padding-right: 1.46%;
}

p, li, figcaption, dd, .body-copy-1, .body-copy-2, .caption-copy, .list-group-item{
    font-family: 'Crimson Pro', serif;
    margin: 0%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1.46%;
    padding-right: 1.46%;
}

h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

h5, .list-group-heading, dt {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}

a, button, .button-copy, .link-copy{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;

    padding-top: 10px;
    padding-bottom: 10px;
}

p, li, dd, .body-copy-1, .list-group-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

figcaption, .body-copy-2, .caption-copy {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

:any-link{
    color: var(--colorsecondary);
}

/*Colour theme*/
:root {
    --colorprimary:#805A93;
    --colorsecondary:#FB5897;
    --colortertiary:#F6C0B4;
    --colordarkgrey:#222222;
    --colormediumgrey:#444444;
    --colorlightgrey:#666666;
    --colorlightestgrey:#cccccc;
    --colorbackground:#F7F1FF;
    --colorlight:#ffffff;
}

/*Styling the body*/
body {
    margin: 0%;
}

/*Styling the header*/

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 3.73%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 3.73%;
}

button {
    background-color: var(--colorsecondary);
    border: none;
    border-radius: 50px;
    color: var(--colorlight);
    margin: 20px;
}

nav {
    border-radius: 0px 5px 5px 0px;
    background-color: var(--colorbackground);
    padding-left: 3.73%;
    padding-right: 2%;
}

main {
    /*Places navigation and content area in a flexbox*/
    display: flex;
}

.describing-item-visualisation {
    border-radius: 5px; 
}

.describing-item-details {
    /*Places cards with details in a flexbox*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.describing-item-card{
    border-radius: 5px;
}

.color-card {
    border-radius: 5px;
}

.describing-item-guidelines {
    border-radius: 5px; 
}

footer ul {
    list-style: none;
    display: flex;
    padding: 0%;
    margin: 0%;
}

/*Testing snippets*/

.describing-item-card{
    background-color: #cccccc;
    margin: 2%;
}

footer {
    background-color: #cccccc;
    margin: 2%;
}

.color-card {
    background-color: #cccccc;
    margin: 2%; 
}

.category-card {
    background-color: #eeeeee;
    margin: 2%;  
}

.describing-item-guidelines {
    background-color: #eeeeee;
    margin: 2%;
}

.demo-website {
    background-color: #eeeeee;
    margin: 2%;
}

.describing-item-visualisation {
    background-color: #cccccc;
    margin: 10px;
    padding:10px;
}