span, h1, h2, h3, h4, h5, h6, dt, a, button, .button-copy, .list-group-heading, .link-copy{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 1.46%;
    padding-right: 1.46%;
    text-decoration: none;
}

p, li, figcaption, dd, .body-copy-1, pre , .body-copy-2, .caption-copy, .list-group-item{
    font-family: 'Crimson Pro', serif;
    margin: 0%;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1.46%;
    padding-right: 1.46%;
}

h1, h2, h3 {
    color: var(--colorprimary);
}

h1 {
    font-size: 48px;
    line-height: 60px;
}

h2 {
    font-size: 38px;
    line-height: 50px;
}

h3 {
    font-size: 30px;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    line-height: 32px;
}

h5, .list-group-heading, dt {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

h6 {
    font-size: 16px;
    line-height: 20px;
}

a, button, .button-copy, .link-copy{
    font-size: 20px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p, li, dd, .body-copy-1, pre , .list-group-item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

figcaption, .body-copy-2, .caption-copy {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

:any-link{
    color: var(--colorsecondary);
}

.nav-item-selected a{
    color: var(--colorprimary);
    font-weight: 800;
}

/*Colour theme*/
:root {
    --colorprimary:#805A93;
    --colorsecondary:#FB5897;
    --colortertiary:#F6C0B4;
    --colordarkgrey:#222222;
    --colormediumgrey:#444444;
    --colorlightgrey:#666666;
    --colorlightestgrey:#cccccc;
    --colorbackground:#F7F1FF;
    --colorcards: #F9F9F9;
    --colorlight:#ffffff;
    --colorfaliure:#ce7b91;
    --colorsuccess:#87d68d;
    --colorinfo: #6c91bf;
    --colorreminder:#fcca46;
    --outline: 1px solid #dfdfdf;
}

/*Styling the body*/
body {
    margin: 0%;
}

/*Styling the header*/

.logo {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 3.73%;
}

.introduction {
    background-color: var(--colorbackground);
    border-radius: 5px;
    margin-left: 3.73%;
    margin-right: 3.73%;
    position: relative;
    margin-top: 650px;
}

.introduction-content{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 8.46%;
}

nav {
    margin-left: 7.39%;
    margin-right: 7.39%;
    margin-bottom: 40px;
    background-color: var(--colorbackground);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    margin-top: 20px;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left: 4.89%;
    padding-right: 4.89%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-thumbnails {
    margin-left: 11.63%;
    margin-right: 11.63%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.46%;
}

.card {
    max-width: 37.6%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;

    border-radius: 5px;
    background-color: var(--colorlight);
    border: solid 1px var(--colorlightestgrey);
    text-align: center;
    width: 30%;
}

.card img {
    border-radius: 5px;
}

header{
    margin-left: 7.1%;
}

.landing-section img{
    position: absolute;
    z-index: 1;
    margin: auto;
}

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom:50px;
}
.pagination > a, .pagination > span {
	background-color: var(--colorlight);
    border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 17px;
	margin: 0 3px 5px;
	min-width: 20px;
	height: 40px;
	text-decoration: none;
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	padding: 1px 10px;
}
.pagination > span {
	pointer-events: none;
}
.pagination svg {
	height: 24px;
	width: 24px;
}
.pagination > a:hover {
	background-color: var(--colorsecondary);
	color: var(--colorlight);
}
.pagination > a.page-active {
	background-color: var(--colorprimary);
	color: var(--colorlight);
}

.topnav {
    overflow: hidden;
    background-color: var(--colorbackground);
    border-radius: 5px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--colorsecondary);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: var(--colorsecondary);
    color: var(--colorlight);
  }
  
  .topnav a.active {
    background-color: var(--colorprimary);
    color: var(--colorlight);
  }
  
  .topnav .icon {
    display: none;
  }

  input:where([type="checkbox"], [type="radio"]) {
    appearance: none;
    width: 16px;
    height: 16px;
    border: var(--outline);
    margin-right: 5px;
  }
  
  input[type="radio"] {
      border-radius: 50%;
  }
  
  input[type="checkbox"], select, textarea, input[type="text"] {
      border-radius: 5px;
  }
  
  input:checked {
    border: 6px solid var(--colorsecondary);
  }
  
  option:checked {
      color: var(--colorlight);
      background-color: var(--colorsecondary);
  }
  
  select, input[type="text"] {
      width: 50%;
      height: 30px;
      border: var(--outline);
  }
  
  textarea {
      width: 50%;
      height: 80px;
      border: var(--outline); 
  }

  .enquiry_form_section form {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

button {
    background-color: var(--colorsecondary);
    border: none;
    border-radius: 50px;
    color: var(--colorlight);
    margin: 20px;
    width: 20%;
}


form {
    width: 80%;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.form-element {
    padding-top: 15px;
    padding-bottom: 15px;
}

.h1-thin {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    font-size: 60px;
    line-height: 80px;
    color: var(--colormediumgrey);
}

.h1-decoration {
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    line-height: 80px;
    color: var(--colormediumgrey);
}

.h1-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 80px;
    color: var(--colormediumgrey);
}

  .card img {
    object-fit: cover;
    padding: 2%;
  }

.footer-content {
    padding-left: 12.19%;
    padding-right: 12.19%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--colortertiary);
}

footer .h1-thin{
    text-align: center;
}

footer form {
    text-align: center;
}

.about-me {
    background-color: var(--colorbackground);
    padding-left: 3.73%;;
    padding-right: 3.73%;;
}

.about_information {
    display:flex;
}

.about-me h2 {
    padding-bottom: 40px;
    text-align: center;
}

.designer_info h5{
    margin: 0px;
}

.designer_info p{
    margin: 0px;
    font-size: 16px;
    padding-top: 10px;
}

/*architect info*/
figure {
    margin: 0px;
}

figcaption {
    padding-top: 30px;
}

.designer-detail {
    padding-left: 3.7%;
    padding-right: 4.64%;
    padding-top: 50px;
}

.designer-detail p{
    font-size: 20px;
}

.designer-detail p em{
    font-size: 16px;
}

/*agency info*/
.designer-detail {
    padding-right: 3.7%;
    padding-left: 4.64%;
    padding-top: 50px;
}

.designer-detail p{
    padding-bottom: 50px;
}




